MAINICON ICON "application.ico"
1 VERSIONINFO
FILEVERSION 3
PRODUCTVERSION 0,0,0,1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Owned\000"
   VALUE "FileDescription", "AutoTaskCreator\000"
   VALUE "LegalCopyright", "Satsuk Mikhail Mikhailovich\000"
   VALUE "LegalTrademarks", "Owned\000"
   VALUE "OriginalFilename", "github.com/DeDM1sha/AutoTaskCreator\000"
   VALUE "ProductName", "Release_Build\000"
   VALUE "ProductVersion", "2.12.03.21\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0409, 0x04E4
 }
}
